* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", serif;
}

p {
  font-size: 0.8rem;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #cfe2e2;
}

.container {
  padding-inline: 5rem;
}

button {
  all: unset;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid black;
}
